<div class="kg-setup">
  <div class="kg-muted">{{localize "KNUCKLES.setup.players"}}</div>
  <div class="kg-players">
    {{#each players}}
      <div class="kg-prow" data-player-row data-index="{{@index}}">
        <input type="text" name="name" value="{{name}}" placeholder="{{localize 'KNUCKLES.setup.name'}}" />
        <select name="type">
          <option value="pc"{{#if (kgEq type "pc")}} selected{{/if}}>{{localize "KNUCKLES.setup.typePc"}}</option>
          <option value="npc"{{#if (kgEq type "npc")}} selected{{/if}}>{{localize "KNUCKLES.setup.typeNpc"}}</option>
          <option value="generic"{{#if (kgEq type "generic")}} selected{{/if}}>{{localize "KNUCKLES.setup.typeGeneric"}}</option>
        </select>
        <select name="actorUuid">
          <option value="">{{localize "KNUCKLES.setup.noCharacter"}}</option>
          {{#each ../characters}}
            <option value="{{uuid}}"{{#if (kgEq uuid ../actorUuid)}} selected{{/if}}>{{name}}</option>
          {{/each}}
        </select>
        <button type="button" class="kg-icon" data-action="removePlayer" data-index="{{@index}}" aria-label="Remove"><i class="fa-solid fa-trash" aria-hidden="true"></i></button>
      </div>
    {{/each}}
  </div>

  <button type="button" data-action="addPlayer"><i class="fa-solid fa-plus" aria-hidden="true"></i> {{localize "KNUCKLES.setup.addPlayer"}}</button>

  <div class="kg-target-row">
    <label>{{localize "KNUCKLES.setup.playTo"}}</label>
    <input type="number" name="targetScore" value="{{defaultTarget}}" step="50" min="100" />
  </div>

  <footer class="kg-setup-foot">
    <button type="submit" class="primary"><i class="fa-solid fa-play" aria-hidden="true"></i> {{localize "KNUCKLES.setup.start"}}</button>
  </footer>
</div>
